body {
	width: 100%;
	color: #7c7c7c;
	font-size: 100%;
	font-family: 'Oxygen', sans-serif;
}
.lrg {
	padding: 0 0 0 20%;
	text-align: left;
}

.med {
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
}

#people {
    width: 60%;
    margin: 0 auto;
}

#headers {
	color: goldenrod;
}

ul {
	color: #666;
}

ul, li {
    margin:0;
    padding:0;
    list-style:none;
}

li {
    float:left;
    width: 33.33%;
    height:2em;
}

strong {
	border-bottom: 2px solid moccasin;
}